/* custom css for my webpage */

body {
    background-color: grey;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

iframe {
    border: 0.2em dotted black;
    height: 411px;
}

img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    mask:
        radial-gradient(10px at 25% 0, #0000 98%, #000) 50% 10px/40px 100% repeat-x,
        radial-gradient(10px at 75% 50%, #000 99%, #0000 101%) top/40px 20px repeat-x;
}

.my-initials {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    text-shadow: 1px 1px 15px red;
    padding: 0pt 5pt 0pt 5pt;
}

.container {
    background-color: white;
}

/* overriding some bootstrap classes */

.bg-warning {
    background-color: #ffe294 !important;
}


.list-group-item-info:hover {
    background-color: #96ecff !important;
}

.list-group-item-warning:hover {
    background-color: #fde495 !important;
}

.list-group-item-secondary:hover {
    background-color: #ffeaf5 !important;
}
